<div class="card" style="width: 18rem">
  <img
    src="{{ product?.image }}"
    class="card-img-top"
    alt="{{ product?.title }}"
  />
  <div class="card-body" style="height: 5rem; overflow: hidden">
    <h5 class="card-title">{{ product?.title }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ product?.description | slice: 0:30 }}</li>
    <li class="list-group-item">{{ product?.category }}</li>
    <li class="list-group-item">{{ product?.price }}</li>
  </ul>
  <div class="card-body" (click)="productDetails()">
    <button [routerLink]="['/products', product?.id]" class="btn btn-primary">
      Add To Cart
    </button>
  </div>
</div>
